<div class="header-actions-container">
  <div class="header-action-btns">
    <button class="header-action-btn preview">Preview a course</button>
    <button class="header-action-btn login">Log in</button>
  </div>
  <div class="header-action-icons">
    <!-- <button class="header-action-icon cart"> -->
      <img
        class="header-action-icon cart"
        src="{{cdn 'assets/icons/custom/cart.svg'}}"
        alt="sl-logo"
      />
    <!-- </button>
    <button class="header-action-icon search"> -->
      <img
        class="header-action-icon search"
        src="{{cdn 'assets/icons/custom/search.svg'}}"
        alt="sl-logo"
      />
    <!-- </button> -->
  </div>
</div>
